@CHARSET "UTF-8";
/**
 * style.css - folha de estilo para customizações do site.	
 */
article { width: 75%; padding-left:0; padding-right: 5%; padding-bottom: 100px; }

aside ul li { border: none; }
aside ul li a, aside ul li a:link, aside ul li a:visited { color: #ffffff; }